<header class="text-center mt-3">
  <h1>{{title}}</h1>
</header>
<nav class=" row bg-dark p-2">
 <!--<a routerLink="view" class="nav-link ml-4 text-red">Display All Books</a>
  <a routerLink="add" class="nav-link text-white">Add Book</a>-->
  <a routerLink="trainerlist" class="nav-link text-white">View TrainerList</a>
  <a routerLink="addtrainer" class="nav-link text-white">Add Trainer</a>
  <a routerLink="updatetrainer" class="nav-link text-white">UpdateTrainer</a>
</nav>
<hr/>
<router-outlet></router-outlet>
